.customButton(@bgColor:white, @width:150px, 
@text-color:black){
    width: @width;
    height: auto;
    color:@text-color;
    font-size: 1.5rem;;
    background-color: @bgColor;
    border-radius: 10px;  
    cursor: pointer;
}

.btn{
    .customButton();
}